@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    text-decoration: none;
    color: #494949;
}

body{
    width: 100vw;
    height: 100vh;
    padding: 0;
    background: url('/assets/img/background.jpg') no-repeat center center fixed;
    background-size: cover;
}

.instagram-home, .instagram-login, 
.instagram-login-campos, 
.inputs, .login-button,
.acesso-facebook,  .obter-app, .apps{
    display: flex;
    align-items: center;
}

.instagram-home {
    justify-content: center;
    margin: 0 auto;
}

.instagram-login{
    justify-content: space-around;
    flex-direction: column; 
    margin: 1.25rem 0;
    padding: 1rem;
    width: 25rem;
    background: rgba(255, 255, 255, 0.175);
    border-radius: 20px;
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.4);
}

.instagram-login-campos{
    justify-content: space-between;
    flex-direction: column;
    width: 100%;
    margin-bottom:10px;
    padding: 10px 0;
    border: 1px solid rgba(255, 255, 255, 0.4);
    border-radius: 15px;  
    box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.1);
}
.instagram-login-campos img{
    height: 3.75rem;
    margin-top: 1.25rem;
}

.inputs {
    justify-content: center;
    flex-direction: column;
    padding: 1.5rem 2.5rem 0 2.5rem;
    width: 100%;
    gap: 6px;
    margin-bottom: 8px; 
}

.inputs > input{
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 2px solid rgba(255, 255, 255, 0.6);
    background: rgba(255, 255, 255, 0.06);
    border-radius: 8px;
}

.inputs > input::placeholder{
    color: rgba(129, 129, 129, 0.6);
}

.login-button {
    justify-content: center;
    padding: .625rem 2.5rem;
    width: 100%;    
}
         
.login-button button {
    background-image: linear-gradient(to right, #1FA2FF 0%, #12D8FA  51%, #1FA2FF  100%);
    transition: 0.5s;
    background-size: 200% auto;      
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: block;
  }

  .login-button button:hover {
    background-position: right center; 
  }
 
.login-button button {
    width: 100%;
    border-radius: 8px;
    font-size: 14px;
    font-weight: 600;
    border: none;
    padding: 8px 0;
    color: #fff;
}

.acesso-facebook{
    justify-content: space-between;
    flex-direction: column;
    margin: 10px 0;
}

.acesso-facebook span{
    font-size: 13px;
    padding: 10px 0;
}

.facebook, .senha{
    font-size: 14px;
    font-size: bold;
    padding: 10px 0;
}

.senha{
    font-size: 12px;
}

.cadastre-se{
    justify-content: center;
    width: 100%;
    margin-bottom: 10px;
    padding: 10px 0px;
    border: 1px solid rgba(255, 255, 255, 0.4);
    border-radius: 15px;  
    box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.1);
}

.cadastre-se p {
    margin: 15px;
    font-size: 14px;
    text-align: center;
}

.cadastre-se a{
    color: #1a72ff;
    font-weight: bold;
}

.obter-app{
    justify-content: center;
    flex-direction: column;
    width: 100%;
    margin-top: 10px;
}

.obter-app .apps{
    justify-content: center;
    margin: 10px 0;
    gap: .6rem;
}

.obter-app img{
    height: 2.5rem;
    border: none;
}

.obter-app > span, .acesso-facebook>span{
    color: #f9f9f9e0;
}

.bi-eye, .bi-eye-slash{
    cursor: pointer;
    font-weight: 200;
    font-style: normal;
    font-size: .8rem;
}

@media screen and (max-width: 450px) {   
    .instagram-login *{
        border: none;
        margin: 0 auto;
    }

    .instagram-home{
        width:90%;
    } 
  }

@media screen and (max-width: 319px) {
    .obter-app .apps{
      flex-direction: column;
    }
    .inputs{
        padding: 1.25rem 1rem;
    }
    .instagram-login{
        padding: .625rem;
        margin-top: .625rem;
    }
  }